In [1]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport

In [2]:
# Load the dataset
attacks = pd.read_csv('data/attacks.csv', encoding='latin-1')
pd.options.display.max_rows = 99
pd.options.display.max_columns = 99

In [3]:
attacks.head(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
5,2018.06.03.b,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris,M,NaN,"No injury, board bitten",N,NaN,NaN,"Daily Telegraph, 6/4/2018",2018.06.03.b-FlatRock.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.b,2018.06.03.b,6298.0,NaN,NaN
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,FATAL,Y,Late afternoon,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0,NaN,NaN
7,2018.05.27,27-May-2018,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,52,Minor injury to foot. PROVOKED INCIDENT,N,NaN,"Lemon shark, 3'","K. McMurray, TrackingSharks.com",2018.05.27-Ponce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.27,2018.05.27,6296.0,NaN,NaN
8,2018.05.26.b,26-May-2018,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,Lower left leg bitten,N,17h00,"Bull shark, 6'","K.McMurray, TrackingSharks.com",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b,6295.0,NaN,NaN
9,2018.05.26.a,26-May-2018,2018.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Standing,male,M,12,Minor injury to foot,N,14h00,NaN,"K. McMurray, Tracking Sharks.com",2018.05.26.a-DaytonaBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.a,2018.05.26.a,6294.0,NaN,NaN

In [4]:
attacks.drop(columns=['Case Number','Location','Name','Injury','Investigator or Source','pdf','href formula',
                      'href','original order','Unnamed: 22', 'Unnamed: 23','Case Number.1',
                      'Case Number.2'], inplace=True)
attacks.dropna(axis='index', how='all', inplace=True)

In [5]:
attacks.columns

Index(['Date', 'Year', 'Type', 'Country', 'Area', 'Activity', 'Sex ', 'Age',
       'Fatal (Y/N)', 'Time', 'Species '],
      dtype='object')

In [6]:
attacks.columns = ['Date', 'Year', 'Type', 'Country', 'Area', 'Activity',
                   'Sex', 'Age', 'Fatal', 'Time', 'Description']

In [7]:
attacks['Fatal'].value_counts()

N          4293
Y          1388
UNKNOWN      71
 N            7
M             1
N             1
y             1
2017          1
Name: Fatal, dtype: int64

In [8]:
attacks['Fatal'] = attacks['Fatal'].str.strip()
attacks['Fatal'] = attacks['Fatal'].str.upper()
attacks['Fatal'].replace(['M','2017'], np.nan, inplace=True)

In [9]:
attacks['Fatal'].replace(['UNKNOWN'], np.nan, inplace=True)
attacks['Fatal'].replace(['N'], 0, inplace=True)
attacks['Fatal'].replace(['Y'], 1, inplace=True)
attacks['Fatal'].value_counts()

0.0    4301
1.0    1389
Name: Fatal, dtype: int64

In [10]:
attacks['Type'].value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [11]:
attacks['Type'].replace('Boat\w*','Boat',regex=True,inplace=True)
attacks['Type'] = attacks['Type'].str.upper()
attacks['Type'].value_counts()

UNPROVOKED      4595
PROVOKED         574
INVALID          547
BOAT             341
SEA DISASTER     239
QUESTIONABLE       2
Name: Type, dtype: int64

In [12]:
attacks['Sex'].value_counts()

M      5094
F       637
M         2
N         2
lli       1
.         1
Name: Sex, dtype: int64

In [13]:
attacks['Sex'] = attacks['Sex'].str.strip()
attacks['Sex'].replace(['N','.','lli'],np.nan,inplace=True)
attacks['Sex'].value_counts()

M    5096
F     637
Name: Sex, dtype: int64

In [14]:
attacks['Age'].value_counts().head(60)

17      154
18      150
19      142
20      141
15      139
16      138
21      119
22      117
25      108
24      106
14      101
13       94
26       83
28       80
23       80
29       78
27       78
30       76
12       73
32       69
35       69
10       56
40       56
31       52
34       50
38       48
33       44
43       43
36       43
37       42
39       38
41       38
42       38
11       37
52       35
9        35
50       33
45       32
47       30
44       29
49       28
48       28
8        28
46       27
55       23
7        22
51       20
54       17
57       16
60       16
58       15
6        14
61       13
53       13
59       11
69       10
56       10
Teen      9
63        9
62        8
Name: Age, dtype: int64

In [15]:
attacks['Age'].replace(to_replace=['Teen','teen'],value='16',inplace=True)
attacks['Age'].replace(to_replace='30s',value='35',inplace=True)
attacks['Age'].replace(to_replace='20s',value='25',inplace=True)
attacks['Age'].value_counts().head(60)

17    154
16    152
18    150
19    142
20    141
15    139
21    119
22    117
25    115
24    106
14    101
13     94
26     83
23     80
28     80
29     78
27     78
35     76
30     76
12     73
32     69
40     56
10     56
31     52
34     50
38     48
33     44
43     43
36     43
37     42
41     38
39     38
42     38
11     37
9      35
52     35
50     33
45     32
47     30
44     29
48     28
49     28
8      28
46     27
55     23
7      22
51     20
54     17
57     16
60     16
58     15
6      14
61     13
53     13
59     11
56     10
69     10
63      9
62      8
5       7
Name: Age, dtype: int64

In [16]:
attacks['Type'].value_counts().head(60)

UNPROVOKED      4595
PROVOKED         574
INVALID          547
BOAT             341
SEA DISASTER     239
QUESTIONABLE       2
Name: Type, dtype: int64

In [17]:
attacks['Type'] = attacks['Type'].str.upper()
attacks['Type'].replace('QUESTIONABLE','INVALID',inplace=True)
attacks['Type'].value_counts().head(60)

UNPROVOKED      4595
PROVOKED         574
INVALID          549
BOAT             341
SEA DISASTER     239
Name: Type, dtype: int64

In [18]:
attacks['Activity'].value_counts().head(60)

Surfing                           971
Swimming                          869
Fishing                           431
Spearfishing                      333
Bathing                           162
Wading                            149
Diving                            127
Standing                           99
Snorkeling                         89
Scuba diving                       76
Body boarding                      61
Body surfing                       49
Swimming                           47
Kayaking                           33
Fell overboard                     32
Treading water                     32
Pearl diving                       32
Free diving                        29
Boogie boarding                    29
Windsurfing                        19
Walking                            17
Boogie Boarding                    16
Shark fishing                      15
Floating                           14
Fishing                            13
Canoeing                           13
Rowing                             12
Surf skiing                        12
Surf-skiing                        12
Surf fishing                       12
Fishing for sharks                 11
Kayak Fishing                      11
Freediving                         10
Sponge diving                      10
Scuba Diving                       10
Sitting on surfboard                9
Diving for trochus                  9
Fell into the water                 9
Sailing                             9
Paddle boarding                     8
Sea disaster                        8
Skindiving                          7
Diving for abalone                  7
Free diving for abalone             7
Floating on his back                7
Surfing (sitting on his board)      7
Playing                             7
Boating                             7
Surf skiing                         7
Spearfishing                        7
Kite Surfing                        6
Murder                              6
Spearfishing on Scuba               6
Fishing for mackerel                6
Shipwreck                           6
Stand-Up Paddleboarding             6
Sea Disaster                        6
Fishing on a boat                   5
Kayaking / Fishing                  5
Dangling feet in the water          5
Name: Activity, dtype: int64

In [19]:
attacks['Activity'] = attacks['Activity'].str.strip()
attacks['Activity'] = attacks['Activity'].str.upper()
attacks['Activity'].value_counts().head(60)

SURFING                           976
SWIMMING                          916
FISHING                           444
SPEARFISHING                      340
BATHING                           165
WADING                            149
DIVING                            130
STANDING                          101
SCUBA DIVING                       91
SNORKELING                         89
BODY BOARDING                      65
BODY SURFING                       50
BOOGIE BOARDING                    45
KAYAKING                           35
FELL OVERBOARD                     33
TREADING WATER                     32
PEARL DIVING                       32
FREE DIVING                        30
SURF SKIING                        19
WINDSURFING                        19
WALKING                            17
SHARK FISHING                      16
FLOATING                           15
ROWING                             14
CANOEING                           14
SEA DISASTER                       14
KAYAK FISHING                      14
SURF FISHING                       12
SURF-SKIING                        12
FISHING FOR SHARKS                 11
KITE SURFING                       11
FREEDIVING                         10
SPONGE DIVING                      10
SAILING                             9
FREEDOM SWIMMING                    9
SITTING ON SURFBOARD                9
DIVING FOR TROCHUS                  9
FELL INTO THE WATER                 9
PADDLE BOARDING                     9
PLAYING                             8
DIVING FOR ABALONE                  8
FREE DIVING FOR ABALONE             7
FLOATING ON HIS BACK                7
SPEARFISHING ON SCUBA               7
SKINDIVING                          7
WADE FISHING                        7
SURFING (SITTING ON HIS BOARD)      7
BOATING                             7
JUMPED OVERBOARD                    6
MURDER                              6
FISHING FOR MACKEREL                6
STAND-UP PADDLEBOARDING             6
SPEARFISHING / FREE DIVING          6
SPLASHING                           6
SHIPWRECK                           6
BOAT                                5
DANGLING FEET IN THE WATER          5
FISHING ON A BOAT                   5
KAYAKING / FISHING                  5
SKIN DIVING                         5
Name: Activity, dtype: int64

In [20]:
attacks['Description'] = attacks['Description'].str.upper()
attacks['Description'].replace(['.*UNCONFIRMED.*','.* NOT CONFIRMED.*',
                                '.*QUESTIONABLE.*', '.*FOOT SHARK.*',
                                '.*SMALL SHARK.*', '.*FROM SHARK.*',
                                '.*FEMALE SHARK.*', '.*LARGE SHARK.*',
                                '.*BUT SHARK.*', '.*JUVENILE SHARK.*'
                                '.*THE SHARK.*','.*TWO SHARK.*'],np.nan,inplace=True)
attacks['Species'] = attacks[attacks['Description'].notnull()]['Description'].str.findall('\w{3,} SHARK')

In [21]:
attacks['Species'] = attacks['Species'].apply(lambda x : ' '.join(x) if x == x else x)
attacks.loc[attacks['Species'] == attacks['Species'], 'Species']

0       WHITE SHARK
3
4       TIGER SHARK
6       TIGER SHARK
7       LEMON SHARK
           ...
6276    TIGER SHARK
6293
6294
6295
6296    NURSE SHARK
Name: Species, Length: 3464, dtype: object

In [22]:
attacks['Species'].value_counts().head(60)

                              1469
WHITE SHARK                    624
TIGER SHARK                    258
BULL SHARK                     170
NURSE SHARK                     97
WHALER SHARK                    66
REEF SHARK                      64
BLACKTIP SHARK                  60
SMALL SHARK                     55
MAKO SHARK                      52
WOBBEGONG SHARK                 46
HAMMERHEAD SHARK                43
SPINNER SHARK                   43
RAGGEDTOOTH SHARK               43
BLUE SHARK                      38
LEMON SHARK                     33
ZAMBESI SHARK                   29
WHITETIP SHARK                  23
SANDTIGER SHARK                 20
SAND SHARK                      16
DUSKY SHARK                     12
SEVENGILL SHARK                 11
CARPET SHARK                     8
BASKING SHARK                    7
GALAPAGOS SHARK                  7
GILL SHARK                       7
DOG SHARK                        6
ANGEL SHARK                      6
PORBEAGLE SHARK                  6
COLORED SHARK                    6
SANDBAR SHARK                    5
JUVENILE SHARK                   5
COPPER SHARK                     5
FOOT SHARK                       4
BROWN SHARK                      4
SILKY SHARK                      4
ZAMBEZI SHARK                    3
WHALE SHARK                      3
SALMON SHARK                     3
THRESHER SHARK                   3
LARGE SHARK                      3
NOSE SHARK                       2
FEMALE SHARK                     2
BULL SHARK REEF SHARK            2
THE SHARK                        2
CAPTIVE SHARK                    2
BUT SHARK                        2
GOBLIN SHARK                     2
LEOPARD SHARK                    2
GREY SHARK                       2
SHOVELNOSE SHARK                 2
TWO SHARK                        2
COW SHARK                        2
FROM SHARK                       2
WHITE SHARK WHITE SHARK          2
LEMON SHARK LEMON SHARK          2
SILVERTIP SHARK                  2
30KG SHARK                       2
BULL SHARK TIGER SHARK           2
DUSKY SHARK BLACKFIN SHARK       1
Name: Species, dtype: int64

In [23]:
attacks[attacks['Year'].notnull()]['Year'].value_counts().head(10)

2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    127
0.0       125
2008.0    122
2013.0    122
2009.0    120
2012.0    117
Name: Year, dtype: int64

In [24]:
attacks['Year'].replace(0,np.nan,inplace=True)
attacks['Year'] = pd.to_numeric(attacks['Year'], errors='coerce', downcast='integer')
attacks.head(20)

,Date,Year,Type,Country,Area,Activity,Sex,Age,Fatal,Time,Description,Species
0,25-Jun-2018,2018.0,BOAT,USA,California,PADDLING,F,57,0.0,18h00,WHITE SHARK,WHITE SHARK
1,18-Jun-2018,2018.0,UNPROVOKED,USA,Georgia,STANDING,F,11,0.0,14h00 -15h00,NaN,NaN
2,09-Jun-2018,2018.0,INVALID,USA,Hawaii,SURFING,M,48,0.0,07h45,NaN,NaN
3,08-Jun-2018,2018.0,UNPROVOKED,AUSTRALIA,New South Wales,SURFING,M,NaN,0.0,NaN,2 M SHARK,
4,04-Jun-2018,2018.0,PROVOKED,MEXICO,Colima,FREE DIVING,M,NaN,0.0,NaN,"TIGER SHARK, 3M",TIGER SHARK
5,03-Jun-2018,2018.0,UNPROVOKED,AUSTRALIA,New South Wales,KITE SURFING,M,NaN,0.0,NaN,NaN,NaN
6,03-Jun-2018,2018.0,UNPROVOKED,BRAZIL,Pernambuco,SWIMMING,M,18,1.0,Late afternoon,TIGER SHARK,TIGER SHARK
7,27-May-2018,2018.0,UNPROVOKED,USA,Florida,FISHING,M,52,0.0,NaN,"LEMON SHARK, 3'",LEMON SHARK
8,26-May-2018,2018.0,UNPROVOKED,USA,Florida,WALKING,M,15,0.0,17h00,"BULL SHARK, 6'",BULL SHARK
9,26-May-2018,2018.0,UNPROVOKED,USA,Florida,STANDING,M,12,0.0,14h00,NaN,NaN
10,24-May-2018,2018.0,PROVOKED,AUSTRALIA,Queensland,FEEDING SHARKS,M,32,0.0,Morning,GREY REEF SHARK,REEF SHARK
11,21-May-2018,2018.0,UNPROVOKED,USA,South Carolina,BOOGIE BOARDING,M,10,0.0,NaN,NaN,NaN
12,13-May-2018,2018.0,UNPROVOKED,USA,South Carolina,SWIMMING,M,10,0.0,15h00,NaN,NaN
13,13-May-2018,2018.0,INVALID,ENGLAND,Cornwall,FISHING,M,21,0.0,08h15,INVALID INCIDENT,
14,May 2018,2018.0,PROVOKED,AUSTRALIA,Westerm Australia,FEEDING SHARKS,F,34,0.0,NaN,"TAWNY NURSE SHARK, 2M",NURSE SHARK
15,12-May-2018,2018.0,UNPROVOKED,SOUTH AFRICA,Eastern Cape Province,SURFING,M,NaN,0.0,11h00,NaN,NaN
16,09-May-2018,2018.0,INVALID,AUSTRALIA,New South Wales,SURFING,M,NaN,0.0,10h30,SHARK INVOLVEMENT NOT CONFIRMED,
17,Reported 30-Apr-2018,2018.0,UNPROVOKED,THAILAND,Hua Hin,SWIMMING,M,NaN,0.0,NaN,NaN,NaN
18,28-Apr-2018,2018.0,UNPROVOKED,COSTA RICA,Cocos Island,SCUBA DIVING,M,30,0.0,10h40,TIGER SHARK,TIGER SHARK
19,28-Apr-2018,2018.0,UNPROVOKED,AUSTRALIA,Western Australia,SURFING,M,NaN,0.0,16h50,NaN,NaN

In [25]:
attacks['Year'] = pd.to_numeric(attacks['Year'], errors='coerce',downcast='integer')

In [26]:
attacks['Country'].value_counts().head(99)

USA                     2229
AUSTRALIA               1338
SOUTH AFRICA             579
PAPUA NEW GUINEA         134
NEW ZEALAND              128
BRAZIL                   112
BAHAMAS                  109
MEXICO                    89
ITALY                     71
FIJI                      62
PHILIPPINES               61
REUNION                   60
NEW CALEDONIA             53
CUBA                      46
MOZAMBIQUE                45
SPAIN                     44
INDIA                     40
EGYPT                     38
JAPAN                     34
CROATIA                   34
PANAMA                    32
SOLOMON ISLANDS           30
IRAN                      29
JAMAICA                   27
GREECE                    25
FRENCH POLYNESIA          25
HONG KONG                 24
INDONESIA                 23
ENGLAND                   23
PACIFIC OCEAN             17
COSTA RICA                17
ATLANTIC OCEAN            17
BERMUDA                   16
TONGA                     15
VIETNAM                   15
VANUATU                   14
SRI LANKA                 14
MARSHALL ISLANDS          13
FRANCE                    13
SOUTH ATLANTIC OCEAN      12
TURKEY                    12
CANADA                    12
IRAQ                      12
UNITED KINGDOM            11
VENEZUELA                 11
SENEGAL                   11
MAURITIUS                 10
KENYA                     10
NEW GUINEA                10
COLUMBIA                   9
TAIWAN                     9
ECUADOR                    9
TANZANIA                   8
THAILAND                   8
CARIBBEAN SEA              8
CHILE                      8
SIERRA LEONE               8
SAMOA                      8
MADAGASCAR                 8
SOUTH KOREA                8
SCOTLAND                   8
INDIAN OCEAN               7
CHINA                      7
SEYCHELLES                 7
DOMINICAN REPUBLIC         7
ISRAEL                     7
NORTH PACIFIC OCEAN        7
YEMEN                      7
SOMALIA                    6
SINGAPORE                  6
BARBADOS                   6
NEW BRITAIN                6
NICARAGUA                  6
LIBYA                      6
OKINAWA                    6
KIRIBATI                   6
SAUDI ARABIA               5
AZORES                     5
TURKS & CAICOS             5
MALTA                      5
MID ATLANTIC OCEAN         5
PALAU                      5
MALAYSIA                   5
GUAM                       4
HONDURAS                   4
URUGUAY                    4
PERSIAN GULF               4
SUDAN                      4
NIGERIA                    4
BURMA                      4
GRENADA                    4
RUSSIA                     4
EL SALVADOR                4
NORTH ATLANTIC OCEAN       4
BELIZE                     3
MICRONESIA                 3
CEYLON                     3
 TONGA                     3
TUNISIA                    3
Name: Country, dtype: int64

In [27]:
attacks['Country'] = attacks['Country'].str.strip()
attacks['Country'] = attacks['Country'].str.upper()
attacks['Country'].replace(to_replace=['.*OCEAN','.* SEA'],value=np.nan,regex=True,inplace=True)
attacks['Country'].replace(['BETWEEN PORTUGAL & INDIA','IRAN / IRAQ','EGYPT / ISRAEL','RED SEA?'],np.nan,inplace=True)
attacks['Country'].replace('EQUATORIAL GUINEA / CAMEROON','EQUATORIAL GUINEA',inplace=True)
attacks['Country'].replace('CEYLON (SRI LANKA)','SRI LANKA',inplace=True)
attacks['Country'].replace('UNITED ARAB EMIRATES (UAE)','UNITED ARAB EMIRATES',inplace=True)
attacks['Country'].value_counts().head(99)

USA                     2229
AUSTRALIA               1338
SOUTH AFRICA             579
PAPUA NEW GUINEA         134
NEW ZEALAND              128
BRAZIL                   112
BAHAMAS                  109
MEXICO                    90
ITALY                     71
FIJI                      65
PHILIPPINES               62
REUNION                   60
NEW CALEDONIA             53
CUBA                      46
MOZAMBIQUE                45
SPAIN                     44
EGYPT                     40
INDIA                     40
JAPAN                     34
CROATIA                   34
PANAMA                    32
SOLOMON ISLANDS           30
IRAN                      29
JAMAICA                   27
GREECE                    25
FRENCH POLYNESIA          25
HONG KONG                 24
ENGLAND                   23
INDONESIA                 23
TONGA                     18
COSTA RICA                17
BERMUDA                   16
SRI LANKA                 15
VIETNAM                   15
VANUATU                   14
MARSHALL ISLANDS          13
FRANCE                    13
IRAQ                      12
CANADA                    12
TURKEY                    12
VENEZUELA                 11
SENEGAL                   11
UNITED KINGDOM            11
NEW GUINEA                10
MAURITIUS                 10
KENYA                     10
TAIWAN                     9
SIERRA LEONE               9
COLUMBIA                   9
ECUADOR                    9
YEMEN                      9
THAILAND                   8
SOUTH KOREA                8
SCOTLAND                   8
SAMOA                      8
CHILE                      8
SEYCHELLES                 8
TANZANIA                   8
MADAGASCAR                 8
ISRAEL                     7
DOMINICAN REPUBLIC         7
NICARAGUA                  7
CHINA                      7
SINGAPORE                  6
OKINAWA                    6
BARBADOS                   6
SOMALIA                    6
NEW BRITAIN                6
KIRIBATI                   6
LIBYA                      6
SAUDI ARABIA               5
PALAU                      5
MALTA                      5
MALAYSIA                   5
AZORES                     5
TURKS & CAICOS             5
EL SALVADOR                4
PERSIAN GULF               4
URUGUAY                    4
BURMA                      4
SUDAN                      4
RUSSIA                     4
HONDURAS                   4
UNITED ARAB EMIRATES       4
GUAM                       4
GRENADA                    4
NIGERIA                    4
TRINIDAD & TOBAGO          3
AMERICAN SAMOA             3
GUYANA                     3
BELIZE                     3
CEYLON                     3
HAITI                      3
CAPE VERDE                 3
MICRONESIA                 3
MONTENEGRO                 3
LEBANON                    3
MARTINIQUE                 3
PORTUGAL                   3
Name: Country, dtype: int64

In [28]:
#dataset download: https://www.kaggle.com/sudalairajkumar/daily-temperature-of-major-cities
temperatures = pd.read_csv('data/city_temperature.csv',
                           dtype={'Region': str, 'Country': str, 'State': str, 'City': str, 'Year': np.int32, 'Month': np.int32, 'Day': np.int32, 'AvgTemperature': np.float64})
temperatures['Country'] = temperatures['Country'].str.upper()
temperatures['Country'] = temperatures['Country'].str.strip()
temperatures['Country'].replace('US','USA',inplace=True)
temperatures['AvgTemperature'].replace(-99,np.nan,inplace=True) #nulls come as -99
temperatures['AvgTemperature'] = (temperatures['AvgTemperature'] - 30) / 2 #convert to celsius
temps = temperatures.groupby(['Country','Year'],as_index=False).agg(avg_temp = ('AvgTemperature','mean'), median_temp = ('AvgTemperature', 'median'), max_temp = ('AvgTemperature', 'max'))
temps.to_csv('data/temps.csv')

In [29]:
attacks_country_temp = pd.merge(attacks,temps,on=['Country','Year'],how='left')
attacks_country_temp.drop(columns=['Description'], inplace=True)
full_report = ProfileReport(attacks_country_temp)
full_report.to_file('reports/full_report.html')

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=28.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [30]:
attacks_by_cy = attacks_country_temp[attacks_country_temp['avg_temp'].notnull()].groupby(['Country','Year','max_temp','median_temp','avg_temp'],
                                                                           as_index=False).agg(number = ('max_temp', 'count'))
report_by_country_year = ProfileReport(attacks_by_cy)
report_by_country_year.to_file('reports/report_country_year_temp.html')

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=20.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [31]:
attacks_by_cy.corr().iloc[:5,:4]

                 Year  max_temp  median_temp  avg_temp
Year         1.000000  0.087513     0.084496  0.088113
max_temp     0.087513  1.000000     0.198585  0.153631
median_temp  0.084496  0.198585     1.000000  0.993841
avg_temp     0.088113  0.153631     0.993841  1.000000
number       0.020974  0.578751    -0.322988 -0.367387

In [44]:
attacks_country_temp[attacks_country_temp['Species'] != ''].groupby(['Species'],as_index=False).agg(fatality = ('Fatal','mean'),
                                                             attacks=('Fatal','count')).head(20).sort_values('fatality',ascending=False).head(6)

                   Species  fatality  attacks
19  BULL SHARK TIGER SHARK  1.000000        2
2            ANOTHER SHARK  1.000000        1
16  BULL SHARK LEMON SHARK  1.000000        1
4            BASKING SHARK  0.285714        7
14              BULL SHARK  0.207101      169
8               BLUE SHARK  0.189189       37

In [56]:
attacks_country_temp[attacks_country_temp['Fatal'].notnull()].shape[0]

5690

In [53]:
attacks_country_temp['Fatal'].value_counts(normalize=True) * 100

0.0    75.588752
1.0    24.411248
Name: Fatal, dtype: float64

In [57]:
attacks_country_temp[attacks_country_temp['Sex'].notnull()].shape[0]

5733

In [54]:
attacks_country_temp['Sex'].value_counts(normalize=True) * 100

M    88.888889
F    11.111111
Name: Sex, dtype: float64